<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Q-Matic</title>
    <link rel="stylesheet" href="public/style.css">
</head>


<body>

    <div class="container">
        <div class="row">


            <div class="col-12 mt-40">
                <a href="/">
                    <div class="logo">
                        <h1>q-matic</h1>
                    </div>
                </a>
            </div>

            <div class="col-12 mt-30">
                <label> Gişe Numarası :</label>
                <select id="counterSelect" class="form-select form-select-lg  qmatic-select mb-3" aria-label=".form-select-lg example">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
            </div>
            <div class="col-12">
                <label> Sayaç Kategorisi :</label>
                <select id="groupSelect" class="form-select form-select-lg qmatic-select mb-3" aria-label=".form-select-lg example">
                    <option value="0" selected>Gişe İşlemleri</option>
                    <option value="1">Müşteri İşlemleri</option>
                    <option value="2">İdari İşlemleri</option>
                  </select>
            </div>
            <div class="col-12 mt-10">
                <button type="button" class="btn btn-primary btn-lg call-button qmatic-button">Müşteri Çağır</button>
            </div>


        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        const button = document.querySelector('button');

        button.addEventListener('click', (e) => {
            let counterValue = document.getElementById('counterSelect').value;
            let groupValue = document.getElementById('groupSelect').value;

            let no = 1;
            while (no < 1000) {
                no = parseInt(Math.random() * 10000);
            }
            let res = {
                group: groupValue,
                counter: counterValue
            }
            socket.emit('call_number', res);
        });
    </script>
</body>

</html>