<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Q-Matic</title>
    <link rel="stylesheet" href="public/style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            
            <div class="col-12 mt-40">
                <a href="/">
                    <div class="logo">
                        <h1>q-matic</h1>
                    </div>
                </a>
            </div>

            <div class="col-12 mt-10">
                <a href="get_number"
                type="button" class="btn btn-primary btn-lg call-button qmatic-button">Sıra Alma Ekranı</a>
            </div>

            <div class="col-12 mt-10">
                <a href="counter"
                type="button" class="btn btn-primary btn-lg call-button qmatic-button">Gişe Ekranı</a>
            </div>

            <div class="col-12 mt-10">
                <a href="waitscreen"
                type="button" class="btn btn-primary btn-lg call-button qmatic-button">Bekleme Ekranı</a>
            </div>


        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

</body>

</html>